body {
    padding-top: 100px;
}

main {
    min-height: 600px;
}

.skin-card {
    text-align: center;
    overflow: hidden;
}

.skin-card h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skin-details {
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.badge {
    color: #666666;
    background: #f6f6f6;
    border: 1px solid #eeeeee;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-rate {
    margin: 0 10px;
}

.skin-images {
    text-align: center;
    max-height: 430px;
}

.skin-details h2 {
    margin: 0 0 0 0;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
